{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h4>Example To Use</h4>
            <a href="{{ path('logs_index') }}">Got To logs File</a>
            <pre class="prettyprint">

/*
 * $url - URL site where'll be saved logs files
 * Must be an exmpl - $url = 'http://logs.izumi-it-company.com/'; or $url = 'https://www.google.com/';
 *
 * $args - array
 *  | $args['name'] - must be founded!
 *  | $args['name'] - Its name of the log file
 *  |   |
 *  |   | Example:
 *  |   | $args = [
 *  |   |       'name' => 'example_log_file',
 *  |   |       'IP' => '198.168.0.1',
 *  |   |       'Country' => 'JP',
 *  |   |       'SomethingElse' => 'Something Else',
 *  |   |       'Else' => 'true',
 *  |   |   ]
 *  |   |
 *  |   |   |   Out put information in logs/example_log_file.log
 *  |   |   |
 *  |   |   |
 *  |   |   |   [2019-03-21 16:42:55] EXAMPLE_LOG_FILE.INFO: name - example_log_file; IP - 198.168.0.1; Country - JP; SomethingElse - Something Else; Else - true;  [] []
 */

$url = 'http://logs.izumi-it-company.com/';

function sendInfoToLogs($args, $url) {

    $string = '?';
    foreach ($args as $key => $value) {
        $string .= $key . '=' . urlencode($value) . '&';
    }

    $curl = curl_init();
    curl_setopt($curl, CURLOPT_URL, $url . $string);
    curl_setopt($curl, CURLOPT_HEADER, 0);
    curl_setopt($curl, CURLOPT_RETURNTRANSFER, 1);
    curl_setopt($curl, CURLOPT_CONNECTTIMEOUT, 10);
    curl_setopt($curl, CURLOPT_USERAGENT, 'Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; SV1; .NET CLR 1.0.3705; .NET CLR 1.1.4322)');
    $res = curl_exec($curl);
    curl_close($curl);
}

sendInfoToLogs(
[
     'name' => 'example_log_file',
     'IP' => '198.168.0.1',
     'Country' => 'JP',
     'SomethingElse' => 'Something Else',
     'Else' => 'true',
 ],
    $url
);            </pre>
        </div>
    </div>
{% endblock %}
