{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/style_for_logs.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/sort.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="title">
                <img class="heading" src="../images/secret.png">
                <h1>ALL LOGS BABY!</h1>
                <img class="loz" src="../images/fire.gif">
                <audio id="player" src="../sounds/secret.wav" preload="auto" autobuffer=""></audio>
                <img class="loz" src="../images/moblin.png">
                <img class="loz " src="../images/fire.gif">
            </div>
            <table class="sortable">
                <thead>
                <tr>
                    <th>Log Name</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Date Modified</th>
                </tr>
                </thead>
                <tbody>
                {% if files is empty %}
                    <tr class="file">
                        <td><a href="javascript:void(0);" class="name">LOGS IS NOT EXISTS</a></td>
                        <td><a href="javascript:void(0);">----</a></td>
                        <td sorttable_customkey="0"><a href="javascript:void(0);">---- KB</a></td>
                        <td sorttable_customkey="0"><a href="javascript:void(0);">--------------</a>
                        </td>
                    </tr>
                {% else %}
                    {% for file in files %}
                        <tr class="file">
                            <td>
                                <a href="{{ path('logs_current', {'name': file.name}) }}" class="name">
                                    {{ file.name }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('logs_current', {'name': file.name}) }}">
                                    {{ file.type }}
                                </a>
                            </td>
                            <td sorttable_customkey="{{ file.sizeNumber }}">
                                <a href="{{ path('logs_current', {'name': file.name}) }}">
                                    {{ file.size }}
                                </a>
                            </td>
                            <td sorttable_customkey="{{ file.dateCreated }}">
                                <a href="{{ path('logs_current', {'name': file.name}) }}">
                                    {{ file.dateCreated }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
{% endblock %}
