{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/style_for_logs.css') }}">
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="title">
                <img class="heading" src="../images/secret.png">
                <h1>ALL LOGS BABY!</h1>
                <img class="loz" src="../images/fire.gif">
                <audio id="player" src="../sounds/secret.wav" preload="auto" autobuffer=""></audio>
                <img class="loz" src="../images/moblin.png">
                <img class="loz " src="../images/fire.gif">
            </div>
            <table class="sortable">
                <thead>
                <tr>
                    <th style="padding-left: 5px;"><a style=" text-decoration: underline;color: white;" href="{{ path('logs_index') }}">TO LOGS > </a> {{ fileName }}</th>
                </tr>
                </thead>
                <tbody>
                    {% for line in lines %}
                        <tr class="">
                            <td style="padding: 5px 10px;">
                                <span class="name">
                                    {{ line }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
{% endblock %}
