* {
    padding:0;
    margin:0;
}

body {
    color: #333;
    font: 14px Sans-Serif;
    padding: 50px;
    background: url("../images/bg-sm.png") repeat;
}

h1 {
    text-align: center;
    padding: 28px;
    margin: 0;
    color: #fff;
    font-size: 34px;
    display:none;
}
h2 {
    font-size: 16px;
    text-align: center;
    padding: 0 0 12px 0;
}

#container {
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
    position: relative;
    background: #000;
    padding-top: 50px;
    max-width: 820px;
    margin: 0 auto;
}

table {
    background-color: #F3F3F3;
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
}

th {
    background-color: #FE4902;
    color: #FFF;
    cursor: pointer;
    padding: 5px 10px;
}

th small {
    font-size: 9px;
}

td, th {
    text-align: left;
}

a {
    text-decoration: none;
}

td a {
    color: #663300;
    display: block;
    padding: 5px 10px;
}
th a {
    padding-left: 0
}

td:first-of-type a {
    background: url(../images/file.png) no-repeat 10px 50%;
    padding-left: 35px;
}
th:first-of-type {
    padding-left: 35px;
}

td:not(:first-of-type) a {
    background-image: none !important;
}

tr:nth-of-type(odd) {
    background-color: #E6E6E6;
}

tr:hover td {
    background-color:#CACACA;
}

tr:hover td a {
    color: #000;
}

.header-images {
    display: inline-block;
    padding: 0 10% 0 10%;
    margin: 15px 0 15px 0;
}

.title {
    text-align: center;
}

.heading {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.footer-bricks{
    width:100%;
    margin-bottom: -3px;
}

.below-footer{
    text-align: center;
    padding-top: 25px;
}

.below-footer a {
    color: #919191;
}


/* logs */
table tr td:first-of-type a
{background-image: url(../images/file.png)}







@media (min-width: 400px) {


    img.loz {
        width: 35px;
    }

    .loz {
        display: inline-block;
        padding: 0 5% 0 5%;
        margin: 15px 0 15px 0;
    }

    .footer-bricks {
        display:none;
    }


}


@media (min-width: 770px) {


    img.loz {
        width: 65px;
    }

    .loz {
        display: inline-block;
        padding: 0 10% 0 10%;
        margin: 15px 0 15px 0;
    }

    .footer-bricks {
        display:initial;
    }


}